.inputElement {
    border: none;
    width: 100%;
    margin-left:1rem;
    border-radius:0.5rem;
    height: 4rem;
    background-color: #f0f3f7;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #8596a6;
  }